body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://media1.tenor.com/m/7x4wdZSCH8wAAAAC/the-voices-abatukam.gif'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ff0000;
    text-align: center;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease; 
}

nav ul li a:hover {
    color: #ff5722; 
    background-color: #444; 
    border-radius: 5px; 
}

main {
    padding: 20px;
}

h1 {
    font-size: 80px;
    color: #ff5722;
}

img {
    border: 5px solid #ff5722;
    border-radius: 10px;
    margin: 10px;
}

form {
    display: inline-block;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #ff5722;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #e64a19;
}

@keyframes rgbColorCycle {
    0% { color: red; }
    33% { color: lime; }
    66% { color: blue; }
    100% { color: red; }
}

.rgb-text {
    display: inline-block;
    animation: rgbColorCycle 1s infinite linear;
}

P {
    color: #7bf0ff;
    font-size: 35px;
    margin-left: 400px;
    margin-right: 400px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

h2 {
    font-size: 35px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.gallery-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 20px;
    color: #00ff0d;
    margin-top: 10px;
    font-style: italic;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

li {
    list-style: none;
    padding: 0;
    text-align: center;
    color: #7bf0ff;
    font-size: 35px;
    justify-content: center;
    gap: 20px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.section-title{
    color: #ff00ff;
    font-size: 90px;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}